body {
    font-family: Arial, sans-serif;
    background-color: #1F1F1F;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
  
  }

#movieId{
    display: none;
}

.description{
    display: flex;
    flex-direction: column;
}

.movies-container2{
    width: 98vw;
    margin: auto;
    height: 24vw;
    display: flex;
    background-color: aliceblue;
    border-radius:0px 0px 20px 20px;
}

.movies-container2 img{
    height: 80%;
    border-radius: 20px;
    margin: 2vw;
}

#name{
    margin-top: 3vw;
    height: 3vw;
    color: #1F1F1F;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.6vw;
    
}
#date{
    font-size: 1vw;
    margin-top: 0.3vw;
    height: 1vw;
    color: #1F1F1F;

}
#rating{
    color: #1F1F1F;
   margin-top: 1vw;
    font-size: 1.2vw;
    margin-bottom: 2vw;

}
#overview{
    margin-top: 2vw;
    font-size: 1.7vw;
    margin-top: 1vw;
    color: #1F1F1F;
}
.description p{
    width: 60vw;
    height: 5vw;
    color: #1F1F1F;
}
#avgRating{
    font-size: 1.4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
span{
    color:#1F1F1F;
    font-size: 0.8vw;
}
#movies-container3{

    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 3vw;
    gap: 5vw;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card img{
      height: 300px;
      border-radius: 3vw;
      margin-bottom: 2vw;
      cursor: pointer;
  }
.card span{
    width: 15vw;
    color: aliceblue;
    font-size: 1.2vw;
  }
.textp{
    font-size: 2.4vw;
    margin: 1.6vw;
    font-weight: 600;

}